In [8]:
import pandas as pd
import io
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

df = pd.read_csv('sample_data.csv')
print(df)
def city_state_country(row):
    coord = f"{row['lat']}, {row['lon']}"
    location = geolocator.reverse(coord, exactly_one=True)
    if location != None:
        address = location.raw['address']
        city = address.get('city', '')
        state = address.get('state', '')
        country = address.get('country', '')
        # print(city, state, country)
        row['city'] = city
        row['state'] = state
        row['country'] = country
    else:
        return None 

    return row
# df.drop(df[df])
# for index, row in df.iterrows():
#     result = city_state_country(row)
#     print(result)
#     if result == None:
#         df.drop(index)

# print("df: ",df)  
# df = df.apply(city_state_country, axis=1)

       lon   lat     lev                 time         SLP         PS  \
0   -180.0 -90.0  1000.0  2020-10-26 00:00:00  100456.195  68459.270
1   -180.0 -90.0  1000.0  2020-10-26 06:00:00  100961.940  68809.240
2   -180.0 -90.0  1000.0  2020-10-26 12:00:00  100992.170  69049.695
3   -180.0 -90.0  1000.0  2020-10-26 18:00:00  100976.695  69147.600
4   -180.0 -90.0   975.0  2020-10-26 00:00:00  100456.195  68459.270
..     ...   ...     ...                  ...         ...        ...
224 -180.0 -89.5   600.0  2020-10-26 00:00:00  100230.234  67600.086
225 -180.0 -89.5   600.0  2020-10-26 06:00:00  100727.000  67962.900
226 -180.0 -89.5   600.0  2020-10-26 12:00:00  100696.310  68218.080
227 -180.0 -89.5   600.0  2020-10-26 18:00:00  100707.990  68337.000
228 -180.0 -89.5   550.0  2020-10-26 00:00:00  100230.234  67600.086

               H          T          U          V        QV            O3
0      33.376064        NaN        NaN        NaN       NaN           NaN
1      70.213750        NaN        NaN        NaN       NaN           NaN
2      73.017380        NaN        NaN        NaN       NaN           NaN
3      72.182020        NaN        NaN        NaN       NaN           NaN
4     219.026550        NaN        NaN        NaN       NaN           NaN
..           ...        ...        ...        ...       ...           ...
224  3683.206300  228.32358 -15.883982  11.697969  0.000076  2.314928e-08
225  3730.062000  230.78911 -14.892833   6.473838  0.000109  2.276986e-08
226  3762.769500  232.71248 -13.980026   8.028448  0.000111  1.931959e-08
227  3780.187700  234.57364 -10.756840  10.949080  0.000153  1.829537e-08
228  4263.931600  227.69142 -17.909088   9.536236  0.000079  2.437012e-08

[229 rows x 12 columns]

,lon,lat,lev,time,SLP,PS,H,T,U,V,QV,O3
0,-180.0,-90.0,1000.0,2020-10-26 00:00:00,100456.195,68459.270,33.376064,NaN,NaN,NaN,NaN,NaN
1,-180.0,-90.0,1000.0,2020-10-26 06:00:00,100961.940,68809.240,70.213750,NaN,NaN,NaN,NaN,NaN
2,-180.0,-90.0,1000.0,2020-10-26 12:00:00,100992.170,69049.695,73.017380,NaN,NaN,NaN,NaN,NaN
3,-180.0,-90.0,1000.0,2020-10-26 18:00:00,100976.695,69147.600,72.182020,NaN,NaN,NaN,NaN,NaN
4,-180.0,-90.0,975.0,2020-10-26 00:00:00,100456.195,68459.270,219.026550,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
224,-180.0,-89.5,600.0,2020-10-26 00:00:00,100230.234,67600.086,3683.206300,228.32358,-15.883982,11.697969,0.000076,2.314928e-08
225,-180.0,-89.5,600.0,2020-10-26 06:00:00,100727.000,67962.900,3730.062000,230.78911,-14.892833,6.473838,0.000109,2.276986e-08
226,-180.0,-89.5,600.0,2020-10-26 12:00:00,100696.310,68218.080,3762.769500,232.71248,-13.980026,8.028448,0.000111,1.931959e-08
227,-180.0,-89.5,600.0,2020-10-26 18:00:00,100707.990,68337.000,3780.187700,234.57364,-10.756840,10.949080,0.000153,1.829537e-08
228,-180.0,-89.5,550.0,2020-10-26 00:00:00,100230.234,67600.086,4263.931600,227.69142,-17.909088,9.536236,0.000079,2.437012e-08

In [7]:
df.head()

,lon,lat,lev,time,SLP,PS,H,T,U,V,QV,O3
0,-180.0,-90.0,1000.0,2020-10-26 00:00:00,100456.195,68459.270,33.376064,NaN,NaN,NaN,NaN,NaN
1,-180.0,-90.0,1000.0,2020-10-26 06:00:00,100961.940,68809.240,70.213750,NaN,NaN,NaN,NaN,NaN
2,-180.0,-90.0,1000.0,2020-10-26 12:00:00,100992.170,69049.695,73.017380,NaN,NaN,NaN,NaN,NaN
3,-180.0,-90.0,1000.0,2020-10-26 18:00:00,100976.695,69147.600,72.182020,NaN,NaN,NaN,NaN,NaN
4,-180.0,-90.0,975.0,2020-10-26 00:00:00,100456.195,68459.270,219.026550,NaN,NaN,NaN,NaN,NaN

In [9]:
len(df.columns)

12

In [44]:
import pandas as pd
import io
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

df = pd.read_csv('sample_data.csv')

df['city'] = ''
df['state'] = ''
df['country'] = ''
def city_state_country(index):
    coord = f"{df.iloc[index]['lat']}, {df.iloc[index]['lon']}"
    location = geolocator.reverse(coord, exactly_one=True)
    print(location)
    if location != None:
        print("if")
        address = location.raw['address']
        city = address.get('city', '')
        state = address.get('state', '')
        country = address.get('country', '')
        df.at[index, 'city'] = city
        df.at[index, 'state'] = state
        df.at[index, 'country'] = country
        # print(city, state, country)
#         df.iloc[index]['city'] = city
#         df.iloc[index]['state'] = state
#         df.iloc[index]['country'] = country
    else:
        print("else")
        df.at[index, 'city'] ="drop"
#         df.iloc[index]['city'] = "drop"
    
for index, row in df.iterrows():
    if(index==10):
        break
    city_state_country(index)

df = df.drop(df[df['city']=="drop"].index)

print("df: ",df)  
# df = df.apply(city_state_country, axis=1)

None
else
None
else
None
else
None
else
None
else
None
else
None
else
None
else
None
else
None
else
df:         lon   lat    lev                 time         SLP         PS  \
10  -180.0 -90.0  950.0  2020-10-26 12:00:00  100992.170  69049.695
11  -180.0 -90.0  950.0  2020-10-26 18:00:00  100976.695  69147.600
12  -180.0 -90.0  925.0  2020-10-26 00:00:00  100456.195  68459.270
13  -180.0 -90.0  925.0  2020-10-26 06:00:00  100961.940  68809.240
14  -180.0 -90.0  925.0  2020-10-26 12:00:00  100992.170  69049.695
..     ...   ...    ...                  ...         ...        ...
224 -180.0 -89.5  600.0  2020-10-26 00:00:00  100230.234  67600.086
225 -180.0 -89.5  600.0  2020-10-26 06:00:00  100727.000  67962.900
226 -180.0 -89.5  600.0  2020-10-26 12:00:00  100696.310  68218.080
227 -180.0 -89.5  600.0  2020-10-26 18:00:00  100707.990  68337.000
228 -180.0 -89.5  550.0  2020-10-26 00:00:00  100230.234  67600.086

              H          T          U          V        QV            O3 city  \
10    452.37207        NaN        NaN        NaN       NaN           NaN
11    453.10980        NaN        NaN        NaN       NaN           NaN
12    605.05270        NaN        NaN        NaN       NaN           NaN
13    642.00560        NaN        NaN        NaN       NaN           NaN
14    649.60490        NaN        NaN        NaN       NaN           NaN
..          ...        ...        ...        ...       ...           ...  ...
224  3683.20630  228.32358 -15.883982  11.697969  0.000076  2.314928e-08
225  3730.06200  230.78911 -14.892833   6.473838  0.000109  2.276986e-08
226  3762.76950  232.71248 -13.980026   8.028448  0.000111  1.931959e-08
227  3780.18770  234.57364 -10.756840  10.949080  0.000153  1.829537e-08
228  4263.93160  227.69142 -17.909088   9.536236  0.000079  2.437012e-08

    state country
10
11
12
13
14
..    ...     ...
224
225
226
227
228

[219 rows x 15 columns]

In [40]:
df['city'].value_counts()

        219
drop     10
Name: city, dtype: int64

In [41]:
df = df.drop(df[df['city']=="drop"].index)

In [42]:
df

,lon,lat,lev,time,SLP,PS,H,T,U,V,QV,O3,city,state,country
10,-180.0,-90.0,950.0,2020-10-26 12:00:00,100992.170,69049.695,452.37207,NaN,NaN,NaN,NaN,NaN,,,
11,-180.0,-90.0,950.0,2020-10-26 18:00:00,100976.695,69147.600,453.10980,NaN,NaN,NaN,NaN,NaN,,,
12,-180.0,-90.0,925.0,2020-10-26 00:00:00,100456.195,68459.270,605.05270,NaN,NaN,NaN,NaN,NaN,,,
13,-180.0,-90.0,925.0,2020-10-26 06:00:00,100961.940,68809.240,642.00560,NaN,NaN,NaN,NaN,NaN,,,
14,-180.0,-90.0,925.0,2020-10-26 12:00:00,100992.170,69049.695,649.60490,NaN,NaN,NaN,NaN,NaN,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,-180.0,-89.5,600.0,2020-10-26 00:00:00,100230.234,67600.086,3683.20630,228.32358,-15.883982,11.697969,0.000076,2.314928e-08,,,
225,-180.0,-89.5,600.0,2020-10-26 06:00:00,100727.000,67962.900,3730.06200,230.78911,-14.892833,6.473838,0.000109,2.276986e-08,,,
226,-180.0,-89.5,600.0,2020-10-26 12:00:00,100696.310,68218.080,3762.76950,232.71248,-13.980026,8.028448,0.000111,1.931959e-08,,,
227,-180.0,-89.5,600.0,2020-10-26 18:00:00,100707.990,68337.000,3780.18770,234.57364,-10.756840,10.949080,0.000153,1.829537e-08,,,
228,-180.0,-89.5,550.0,2020-10-26 00:00:00,100230.234,67600.086,4263.93160,227.69142,-17.909088,9.536236,0.000079,2.437012e-08,,,